<input type="checkbox" name="" id="side-menu-switch" class="hidden" />
<div class="side-menu">
  <label for="side-menu-switch">
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512" fill="#666">
      <path
        d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
      />
    </svg>
  </label>

  <h2 style="font-size: 24px; font-weight: 600; letter-spacing: 1px; margin-bottom: 40px">Shop Example</h2>
  <div
    class="flex gap-[10px] gap-y-[25px] flex-wrap justify-start h-full overflow-y-auto overflow-x-hidden"
    style="background-color: unset; color: unset"
  >
    <div class="relative w-full overflow-hidden rounded h-[165px]" *ngFor="let data of dataSources$ | async; let i = index">
      <div
        class="absolute bg-[50%_center] bg-cover bg-no-repeat blur-[2px] m-1 inset-0"
        [style.background-image]="'url(' + data?.portrait + ')'"
      ></div>
      <div class="absolute bg-[rgba(0,0,0,0.6)] inset-0"></div>
      <div class="absolute left-0 right-0 top-0 bottom-0">
        <div style="padding: 10px 30px">
          <div class="flex gap-[15px]">
            <a class="relative block h-20 w-20 shrink-0" href="">
              <div class="block cursor-pointer select-none h-20 w-20 box-border relative border rounded-[50%] border-solid border-[rgba(0,0,0,0.09)]">
                <div class="w-full relative bg-neutral-100 overflow-hidden pt-[100%] rounded-[50%]">
                  <svg
                    enableBackground="new 0 0 15 15"
                    viewBox="0 0 15 15"
                    class="stroke-[#c6c6c6] absolute -translate-x-2/4 -translate-y-2/4 text-2xl font-normal leading-8 left-2/4 top-2/4"
                  >
                    <g>
                      <circle cx="7.5" cy="4.5" fill="none" r="3.8" strokeMiterlimit="{10}" />
                      <path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" strokeLinecap="round" strokeMiterlimit="{10}" />
                    </g>
                  </svg>
                </div>
                <img class="absolute w-full h-full block rounded-[50%] left-0 top-0" src="{{ data?.cover }}" alt="" />
              </div>
            </a>
            <div class="relative flex mt-[0.625rem] flex-col">
              <div
                class="flex-col pl-[10px] rounded-[4px] w-full flex text-[white] text-[13px] font-medium transition-[background-color] duration-[0.1s] ease-[cubic-bezier(0.4,0,0.6,1)] tracking-[0] px-0 py-[0.3125rem]"
              >
                <span class="w-full"> email: </span>
                <span class="w-full"> admin{{ data.userid }}@gmail.com </span>
              </div>
              <div
                class="flex-col pl-[10px] rounded-[4px] w-full flex text-[white] text-[13px] font-medium transition-[background-color] duration-[0.1s] ease-[cubic-bezier(0.4,0,0.6,1)] tracking-[0] px-0 py-[0.3125rem]"
              >
                <span class="w-full"> password: </span>
                <span class="w-full"> {{ data.username }}{{ data.userid }} </span>
              </div>
            </div>
          </div>

          <div class="mb-2 flex justify-between px-[15px]" style="margin-top: 15px">
            <div class="flex flex-col items-center justify-center">
              <p class="text-[15px] font-bold text-white dark:text-white">{{ data?.item_count }}</p>
              <p class="text-xs font-normal text-white">Posts</p>
            </div>
            <div class="flex flex-col items-center justify-center">
              <p class="text-[15px] font-bold text-white dark:text-white">{{ data?.follower_count }}</p>
              <p class="text-xs font-normal text-white">Followers</p>
            </div>
            <div class="flex flex-col items-center justify-center">
              <p class="text-[15px] font-bold text-white dark:text-white">{{ data?.followed }}</p>
              <p class="text-xs font-normal text-white">Following</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="colour"></div>
  <div class="colour"></div>
  <div class="colour"></div>
  <div class="box">
    <div class="square" style="--i: 0"></div>
    <div class="square" style="--i: 1"></div>
    <div class="square" style="--i: 2"></div>
    <div class="square" style="--i: 3"></div>
    <div class="square" style="--i: 4"></div>
    <div class="container">
      <div class="form">
        <h2>Login Form</h2>
        <form>
          <div class="input__box">
            <input type="text" placeholder="your-email@gmail.com" id="email" [(ngModel)]="payload.email" [ngModelOptions]="{ standalone: true }" />
          </div>
          <div class="input__box">
            <input type="password" placeholder="Password" id="password" [ngModelOptions]="{ standalone: true }" [(ngModel)]="payload.password" />
          </div>
          <div class="input__box">
            <input type="submit" value="Login" (click)="handleSubmit()" />
          </div>
          <p class="forget">Forgot Password? <a href="#">Click Here</a></p>
          <p class="forget">Don't have an account? <a href="#">Sign Up</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
