.r-boxShadow-6c8cfd{
box-shadow: none !important;
}
.r-justifyContent-1777fci span{
  color: #444142;
  font-family: Inter;
  font-size: 19.482px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.39px;
}
.r-fontSize-ubezar{
  color: #444142;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.39px;
}

.r-backgroundColor-aynxtb{
background-color: unset;
}
.r-width-iv112m{
  border-bottom: #828693;
  border-bottom-width: 2px;
  border-style: solid;
}
.r-boxShadow-6c8cfd{
  gap: 11px
}
.r-textAlign-fdjqy7{
  border-bottom: #828693;
  border-bottom-width: 2px;
  border-style: solid;
}
.r-boxShadow-6c8cfd{
  margin: 0 40px;
}
.css-textinput-11aywtz{
  border: unset;
  outline: unset;
}