<div class="flex flex-col pb-[20px] gap-[20px]">
	<div style="background: rgba(255, 255, 255, 70%)" class="w-[392px] h-[374px] mx-[auto] z-10 rounded-[12px]">
		<div class="px-[20px] pt-[23px]">
			<div class="flex justify-between">
				<div>
					<div class="flex gap-[2px] flex-col">
						<h3
							style="
								margin-bottom: unset;
								font-family: Inter;
								color: #b0b0b0;
								font-size: 14px;
								line-height: 17px;
								font-weight: 600;
							">
							Shipment number
						</h3>
						<h2
							style="
								margin-bottom: unset;
								font-family: Inter;
								color: #232323;
								font-size: 18px;
								line-height: 22px;
							">
							EV-2017002346
						</h2>
					</div>
					<p
						style="
							margin-bottom: 20px;
							margin-top: 10px;
							font-family: Inter;
							color: #484a58;
							font-size: 14px;
							line-height: 17px;
							font-weight: 400;
						">
						Macbook Pro
					</p>
				</div>
				<div class="w-[145px]">
					<img src="../../assets/img/image9.png" class="w-full" />
				</div>
			</div>
			<div class="w-full" style="border: 1px solid #ececec"></div>

			<div class="py-[20px]">
				<div class="flex flex-col">
					<div class="flex gap-[10px] items-center">
						<div class="w-[38px] h-[38px] bg-[#E8F9EE] rounded-[50%] flex items-center justify-center">
							<span class="w-[14px] h-[14px] rounded-[50%] bg-[#0EBC93]"></span>
						</div>
						<div class="flex gap-[2px] flex-col">
							<h2
								style="
									margin-bottom: unset;
									font-size: 16px;
									font-weight: 900;
									color: 232323;
									font-family: Inter;
									line-height: 19px;
								">
								Nha Be
							</h2>
							<h3
								style="
									margin-bottom: unset;
									font-family: Inter;
									color: #b0b0b0;
									font-weight: 600;
									font-size: 12px;
									line-height: 14px;
								">
								Huyen Nha Be TP. Ho Chi Minh
							</h3>
						</div>
					</div>
					<div class="w-[38px] h-[30px] items-center flex justify-center">
						<div class="w-[23px] h-0" style="border: '1px dashed #E3E3E3'; transform: rotate(90deg)"></div>
					</div>
					<div class="flex gap-[10px] items-center">
						<div class="w-[38px] h-[38px] bg-[#E5E5FE] rounded-[50%] flex items-center justify-center">
							<img src="../../assets/svg/location.svg" />
						</div>
						<div class="flex gap-[2px] flex-col">
							<h2
								style="
									margin-bottom: unset;
									font-size: 16px;
									font-weight: 900;
									color: 232323;
									font-family: Inter;
									line-height: 19px;
								">
								01 Sang Tao
							</h2>
							<h3
								style="
									margin-bottom: unset;
									font-family: Inter;
									color: #b0b0b0;
									font-weight: 600;
									font-size: 12px;
									line-height: 14px;
								">
								Phuong Tan Hung Quan 7 TP. Ho Chi Minh
							</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="w-full" style="border: 1px solid #ececec"></div>
			<div class="pt-[30px] flex justify-between items-center">
				<div class="flex gap-[11px]">
					<div class="w-[47px] h-[47px]">
						<img class="w-full h-full" src="../../assets/img/Ellipse.png" />
					</div>
					<div class="flelx flex-col gap-[10px]">
						<div class="flex gap-[2px] flex-col">
							<h3
								style="
									margin-bottom: unset;
									font-family: Inter;
									color: #b0b0b0;
									font-size: 14px;
									line-height: 17px;
									font-weight: 600;
								">
								Khach Hang
							</h3>
							<h2
								style="
									margin-bottom: unset;
									font-family: Inter;
									color: #232323;
									font-size: 18px;
									line-height: 22px;
								">
								Chu Toan
							</h2>
						</div>
						<p
							style="
								margin-bottom: 20px;
								font-family: Inter;
								color: #484a58;
								font-size: 14px;
								line-height: 17px;
								font-weight: 400;
							">
							+84 97 271 2621
						</p>
					</div>
				</div>
				<div class="flex gap-[10px]">
					<div class="w-[38px] h-[38px] bg-[#F7F5FF] rounded-[10px] flex items-center justify-center">
						<img src="../../assets/svg/call.svg" />
					</div>
					<div class="w-[38px] h-[38px] bg-[#F7F5FF] rounded-[10px] flex items-center justify-center">
						<img src="../../assets/svg/Group 281.svg" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		class="w-[392px] mx-[auto] rounded-[10px] overflow-hidden"
		style="border: 3px solid #000; background: rgba(255, 255, 255, 70%)">
		<div class="w-full flex justify-end">
			<div class="w-[48px] h-[48px] bg-black flex justify-center items-center">
				<span style="color: white; font-family: Inter; font-weight: bold; font-size: 18px; line-height: 25px"
					>1</span
				>
			</div>
		</div>
		<div class="w-full bg-black h-[3px]"></div>
		<div
			class="w-full ml-[12px] py-[6px]"
			style="font-family: Inter; font-weight: bold; font-size: 18px; line-height: 25px">
			POST<sup style="font-family: Inter; font-weight: bold; font-size: 10px; line-height: 14px">TM</sup>
		</div>
		<div class="w-full bg-black h-[3px]"></div>
		<div class="w-full flex justify-start">
			<div class="w-[50px] h-[20px] bg-black flex justify-center items-center">
				<span style="color: white; font-family: Inter; font-weight: bold; font-size: 10px; line-height: 14px"
					>To:</span
				>
			</div>
		</div>
		<div>
			<h2
				class="pl-[15px] uppercase"
				style="
					font-family: Inter;
					font-weight: bold;
					font-size: 10px;
					line-height: 14px;
					font-weight: 600;
					margin-bottom: unset;
				">
				John Mcdonald
			</h2>
			<h2
				class="pl-[15px] uppercase"
				style="
					font-family: Inter;
					font-weight: bold;
					font-size: 10px;
					line-height: 14px;
					font-weight: 600;
					margin-bottom: unset;
				">
				123 fake street
			</h2>
			<h2
				class="pl-[15px] uppercase"
				style="
					font-family: Inter;
					font-weight: bold;
					font-size: 10px;
					line-height: 14px;
					font-weight: 600;
					margin-bottom: unset;
				">
				ottawa, on, a1b 2c3
			</h2>
		</div>
		<div class="w-full bg-black h-[3px]"></div>
		<div class="w-full flex justify-start">
			<div class="h-[43px] flex justify-center items-center" style="border-right: 3px solid #000">
				<div
					class="pl-[7px] w-[120px]"
					style="
						font-family: Inter;
						font-weight: bold;
						font-size: 18px;
						line-height: 15px;
						font-weight: 700;
						margin-bottom: unset;
					">
					A1B 2C3
				</div>
			</div>
			<div class="w-full bg-black h-[2px] mt-[14px]"></div>
		</div>
		<div class="mt-[5px]">
			<img src="../../../../assets/svg/Group 1.svg" class="w-full" />
		</div>
		<div class="mt-[5px] px-[13px]">
			<img src="../../../../assets/svg/bar code.svg" class="w-full" />
		</div>
		<div class="mt-[2px]">
			<span
				class="pl-[15px]"
				style="
					font-family: Inter;
					font-weight: bold;
					font-size: 8px;
					line-height: 11px;
					font-weight: 700;
					margin-bottom: unset;
				"
				>Tracking Number</span
			>
		</div>
		<div class="mt-[5px]">
			<img src="../../../../assets/svg/Group 2.svg" class="w-full" />
		</div>
		<div class="mt-[2px]">
			<span
				class="pl-[15px]"
				style="
					font-family: Inter;
					font-weight: bold;
					font-size: 10px;
					line-height: 8px;
					font-weight: 600;
					margin-bottom: unset;
				"
				>Sender warrants that this item does not contain non-mailable mattter</span
			>
		</div>
		<div class="w-full bg-black h-[3px]"></div>
		<div class="flex justify-between">
			<div class="flex flex-col gap-[5px]">
				<div class="w-[50px] h-[20px] bg-black flex justify-center items-center">
					<span
						style="color: white; font-family: Inter; font-weight: bold; font-size: 10px; line-height: 14px"
						>From:</span
					>
				</div>
				<div>
					<h2
						class="pl-[15px] uppercase"
						style="
							font-family: Inter;
							font-weight: bold;
							font-size: 10px;
							line-height: 14px;
							font-weight: 600;
							margin-bottom: unset;
						">
						Alexander mackenzie
					</h2>
					<h2
						class="pl-[15px] uppercase"
						style="
							font-family: Inter;
							font-weight: bold;
							font-size: 10px;
							line-height: 14px;
							font-weight: 600;
							margin-bottom: unset;
						">
						456 Fake Avenue
					</h2>
					<h2
						class="pl-[15px] uppercase"
						style="
							font-family: Inter;
							font-weight: bold;
							font-size: 10px;
							line-height: 14px;
							font-weight: 600;
							margin-bottom: unset;
						">
						ottawa, on, d4e 5f6
					</h2>
				</div>
			</div>
			<div class="flex justify-between h-[71px] pr-[5px] w-[200px]" style="border-left: 2px solid #000">
				<div class="flex flex-col justify-between py-[4px]">
					<h2
						class="pl-[15px] uppercase"
						style="
							font-family: Inter;
							font-weight: bold;
							font-size: 10px;
							line-height: 14px;
							font-weight: 600;
							margin-bottom: unset;
						">
						18 x 18 x 18 cm
					</h2>
					<h2
						class="pl-[15px] uppercase"
						style="
							font-family: Inter;
							font-weight: bold;
							font-size: 10px;
							line-height: 14px;
							font-weight: 600;
							margin-bottom: unset;
						">
						manifest req
					</h2>
					<h2
						class="pl-[15px] uppercase"
						style="
							font-family: Inter;
							font-weight: bold;
							font-size: 10px;
							line-height: 14px;
							font-weight: 600;
							margin-bottom: unset;
						">
						p/F:
					</h2>
				</div>
				<div class="flex flex-col">
					<div class="flex flex-col py-[4px] justify-between h-full">
						<div class="flex flex-col">
							<h2
								class="pl-[15px]"
								style="
									font-family: Inter;
									font-weight: bold;
									font-size: 10px;
									line-height: 14px;
									font-weight: 600;
									margin-bottom: unset;
								">
								0.05
							</h2>
							<h2
								class="pl-[15px]"
								style="
									font-family: Inter;
									font-weight: bold;
									font-size: 10px;
									line-height: 14px;
									font-weight: 600;
									margin-bottom: unset;
								">
								KG VE/EV
							</h2>
						</div>

						<h2
							class="pl-[15px]"
							style="
								font-family: Inter;
								font-weight: bold;
								font-size: 10px;
								line-height: 14px;
								font-weight: 600;
								margin-bottom: unset;
							">
							A/C
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="w-full bg-black h-[3px]"></div>
		<div class="flex flex-col mt-[10px] ml-[50px] gap-[3px] mb-[20px]">
			<h2
				class="pl-[15px] uppercase"
				style="
					font-family: Inter;
					font-weight: bold;
					font-size: 10px;
					line-height: 14px;
					font-weight: 600;
					margin-bottom: unset;
				">
				pin
			</h2>
			<h2
				class="pl-[15px] uppercase"
				style="
					font-family: Inter;
					font-weight: bold;
					font-size: 10px;
					line-height: 14px;
					font-weight: 600;
					margin-bottom: unset;
				">
				ref: rstmzrssj
			</h2>
		</div>
	</div>
</div>
