<main class="px-10 py-3 w-full h-full">
	<section
		style="display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: 1fr; grid-column-gap: 20px">
		<!-- div1 -->
		<div class="w-full h-[145px]">
			<div
				class="CompactCard"
				style="
					background: linear-gradient(rgb(187, 103, 255) 0%, rgb(196, 132, 243) 100%);
					box-shadow: rgb(224, 198, 245) 0px 10px 20px 0px;
					opacity: 1;
				">
				<div class="radialBar">
					<svg
						class="CircularProgressbar animation-chart"
						viewBox="0 0 100 100"
						data-test-id="CircularProgressbar">
						<path
							class="CircularProgressbar-path relative"
							d="
    M 50,50
    m 0,-46
    a 46,46 0 1 1 0,92
    a 46,46 0 1 1 0,-92
  "
							stroke-width="8"
							fill-opacity="0"
							style="stroke-dasharray: 289.027px, 289.027px; stroke-dashoffset: 86.708px"></path>
					</svg>
					<span class="CircularProgressbar-text absolute top-[27%] left-[11%]" x="50" y="50">70%</span>
					<span>Sales</span>
				</div>

				<div class="flex flex-col text-end justify-between">
					<div class="flex justify-end">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="currentColor">
							<path
								d="M11,9h4a1,1,0,0,0,0-2H13V6a1,1,0,0,0-2,0V7a3,3,0,0,0,0,6h2a1,1,0,0,1,0,2H9a1,1,0,0,0,0,2h2v1a1,1,0,0,0,2,0V17a3,3,0,0,0,0-6H11a1,1,0,0,1,0-2Zm8-7H5A3,3,0,0,0,2,5V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V5A3,3,0,0,0,19,2Zm1,17a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V5A1,1,0,0,1,5,4H19a1,1,0,0,1,1,1Z"></path>
						</svg>
					</div>
					<span>$25,970</span><span>Last 24 hours</span>
				</div>
			</div>
		</div>
		<!-- div2 -->
		<div class="w-full h-[145px]">
			<div
				class="CompactCard"
				data-projection-id="4"
				style="
					background: linear-gradient(rgb(255, 145, 157) 0%, rgb(252, 146, 157) 100%);
					box-shadow: rgb(253, 192, 199) 0px 10px 20px 0px;
					transform: none;
					transform-origin: 50% 50% 0px;
				">
				<div class="radialBar">
					<svg
						class="CircularProgressbar animation-chart"
						viewBox="0 0 100 100"
						data-test-id="CircularProgressbar">
						<path
							class="CircularProgressbar-path relative"
							d="
      M 50,50
      m 0,-46
      a 46,46 0 1 1 0,92
      a 46,46 0 1 1 0,-92
    "
							stroke-width="8"
							fill-opacity="0"
							style="stroke-dasharray: 289.027px, 289.027px; stroke-dashoffset: 57.8053px"></path>
					</svg>
					<span class="CircularProgressbar-text absolute top-[27%] left-[11%]" x="50" y="50">80%</span>

					<span>Revenue</span>
				</div>
				<div class="flex flex-col text-end justify-between">
					<div class="flex justify-end">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="currentColor">
							<path
								d="M22,2H2A1,1,0,0,0,1,3v8a1,1,0,0,0,1,1H5v9a1,1,0,0,0,1,1H18a1,1,0,0,0,1-1V12h3a1,1,0,0,0,1-1V3A1,1,0,0,0,22,2ZM7,20V18a2,2,0,0,1,2,2Zm10,0H15a2,2,0,0,1,2-2Zm0-4a4,4,0,0,0-4,4H11a4,4,0,0,0-4-4V8H17Zm4-6H19V7a1,1,0,0,0-1-1H6A1,1,0,0,0,5,7v3H3V4H21Zm-9,5a3,3,0,1,0-3-3A3,3,0,0,0,12,15Zm0-4a1,1,0,1,1-1,1A1,1,0,0,1,12,11Z"></path>
						</svg>
					</div>
					<span>$14,270</span><span>Last 24 hours</span>
				</div>
			</div>
		</div>
		<!-- div3 -->
		<div class="w-full h-[145px]">
			<div
				class="CompactCard"
				style="
					background: linear-gradient(rgb(248, 212, 154) -146.42%, rgb(255, 202, 113) -46.42%);
					box-shadow: rgb(249, 213, 155) 0px 10px 20px 0px;
					opacity: 1;
				">
				<div class="radialBar">
					<svg
						class="CircularProgressbar animation-chart"
						viewBox="0 0 100 100"
						data-test-id="CircularProgressbar">
						<path
							class="CircularProgressbar-path relative"
							d="
      M 50,50
      m 0,-46
      a 46,46 0 1 1 0,92
      a 46,46 0 1 1 0,-92
    "
							stroke-width="8"
							fill-opacity="0"
							style="stroke-dasharray: 289.027px, 289.027px; stroke-dashoffset: 115.611px"></path>
					</svg>

					<span class="CircularProgressbar-text absolute top-[27%] left-[11%]" x="50" y="50">60%</span>
					<span>Expenses</span>
				</div>

				<div class="flex flex-col text-end justify-between">
					<div class="flex justify-end">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="currentColor">
							<path
								d="M15,14H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2Zm0-4H11a1,1,0,0,0,0,2h4a1,1,0,0,0,0-2Zm2-6H15.82A3,3,0,0,0,13,2H11A3,3,0,0,0,8.18,4H7A3,3,0,0,0,4,7V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V7A3,3,0,0,0,17,4ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm8,14a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V7A1,1,0,0,1,7,6H8V7A1,1,0,0,0,9,8h6a1,1,0,0,0,1-1V6h1a1,1,0,0,1,1,1Z"></path>
						</svg>
					</div>
					<span>$4,270</span><span>Last 24 hours</span>
				</div>
			</div>
		</div>
		<!-- div4 -->
		<div class="w-full h-[145px]">
			<div
				class="CompactCard"
				style="
					background: linear-gradient(rgb(154, 171, 248) -146.42%, rgb(113, 175, 255) -46.42%);
					box-shadow: rgb(155, 185, 249) 0px 10px 20px 0px;
					opacity: 1;
				">
				<div class="radialBar">
					<svg
						class="CircularProgressbar animation-chart"
						viewBox="0 0 100 100"
						data-test-id="CircularProgressbar">
						<path
							class="CircularProgressbar-path relative"
							d="
      M 50,50
      m 0,-46
      a 46,46 0 1 1 0,92
      a 46,46 0 1 1 0,-92
    "
							stroke-width="8"
							fill-opacity="0"
							style="stroke-dasharray: 289.027px, 289.027px; stroke-dashoffset: 115.611px"></path>
					</svg>
					<span class="CircularProgressbar-text absolute top-[27%] left-[11%]" x="50" y="50">60%</span>

					<span>Expenses</span>
				</div>
				<div class="flex flex-col text-end justify-between items-center">
					<div class="flex justify-end">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="currentColor">
							<path
								d="M15,14H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2Zm0-4H11a1,1,0,0,0,0,2h4a1,1,0,0,0,0-2Zm2-6H15.82A3,3,0,0,0,13,2H11A3,3,0,0,0,8.18,4H7A3,3,0,0,0,4,7V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V7A3,3,0,0,0,17,4ZM10,5a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V6H10Zm8,14a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V7A1,1,0,0,1,7,6H8V7A1,1,0,0,0,9,8h6a1,1,0,0,0,1-1V6h1a1,1,0,0,1,1,1Z"></path>
						</svg>
					</div>
					<span>$4,270</span><span>Last 24 hours</span>
				</div>
			</div>
		</div>
	</section>
	<section
		class="mt-4"
		style="display: grid; grid-template-columns: 2fr 1.2fr 1.2fr; grid-template-rows: 1fr; grid-column-gap: 20px">
		<!-- colum 1 -->
		<!-- div5 -->
		<div
			class="w-full h-full rounded-[8px] p-[24px] flex flex-col round-[8px] px-[24px] pt-[24px] pb-[32px] hover-chart duration-2000 bg-[#fff]">
			<div class="flex h-full flex-col">
				<div class="flex justify-between items-center w-full">
					<h3 class="text-inter text-[14px] leading-[20px] text-[#606C80] font-bold">
						Usage Yesterday, 24 June
					</h3>
				</div>
				<div>
					<h3 class="text-inter text-[24px] leading-[32px] text-[#323C4D] font-bold mb-[unset]">
						7 h 34 min
					</h3>
				</div>
				<div class="flex flex-col h-full flex-1 justify-between">
					<div id="divChart">
						<canvas id="barChart" height="210px"></canvas>
					</div>

					<div class="flex justify-between items-center w-full">
						<div class="flex gap-[16px]">
							<span class="text-inter text-[12px] leading-[20px] text-[#B8BFCC] font-bold] flex mt-[5px]">
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none">
									<rect width="12" height="12" rx="6" fill="#1D4ED8" />
								</svg>
							</span>
							<div class="gap-[8px] flex flex-col">
								<span class="text-inter text-[12px] leading-[20px] text-[#B8BFCC] font-bold]"
									>Productivity</span
								>
								<span class="text-inter text-[12px] leading-[20px] text-[#475366] font-bold]"
									>2 h 43 min</span
								>
							</div>
						</div>

						<div class="flex gap-[16px]">
							<span class="text-inter text-[12px] leading-[20px] text-[#B8BFCC] font-bold] flex mt-[5px]">
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none">
									<rect width="12" height="12" rx="6" fill="#33BFFF" />
								</svg>
							</span>
							<div class="gap-[8px] flex flex-col">
								<span class="text-inter text-[12px] leading-[20px] text-[#B8BFCC] font-bold]"
									>Communication</span
								>
								<span class="text-inter text-[12px] leading-[20px] text-[#475366] font-bold]"
									>1 h 21 min</span
								>
							</div>
						</div>

						<div class="flex gap-[16px]">
							<span class="text-inter text-[12px] leading-[20px] text-[#B8BFCC] font-bold] flex mt-[5px]">
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none">
									<rect width="12" height="12" rx="6" fill="#EC4899" />
								</svg>
							</span>
							<div class="gap-[8px] flex flex-col">
								<span class="text-inter text-[12px] leading-[20px] text-[#B8BFCC] font-bold]"
									>Creativity</span
								>
								<span class="text-inter text-[12px] leading-[20px] text-[#475366] font-bold]"
									>2 h 32 min</span
								>
							</div>
						</div>

						<div class="flex gap-[16px]">
							<span class="text-inter text-[12px] leading-[20px] text-[#B8BFCC] font-bold] flex mt-[5px]">
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none">
									<rect width="12" height="12" rx="6" fill="#22C55E" />
								</svg>
							</span>
							<div class="gap-[8px] flex flex-col">
								<span class="text-inter text-[12px] leading-[20px] text-[#B8BFCC] font-bold]"
									>Others</span
								>
								<span class="text-inter text-[12px] leading-[20px] text-[#475366] font-bold]"
									>41 min</span
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- colum 2 -->
		<div style="display: grid; grid-template-columns: 1fr; grid-template-rows: repeat(2, 1fr); grid-row-gap: 12px">
			<!-- div6 -->
			<div class="w-full h-full bg-[#2563EB] rounded-[8px] p-[24px] flex flex-col hover-chart duration-2000">
				<div class="flex-1 flex-col">
					<div class="flex justify-between items-center w-full">
						<h3 class="text-inter text-[14px] leading-[20px] text-[#60A5FA] font-bold mb-[unset]">
							Time At Work
						</h3>
						<button
							class="w-[25px] h-[15px] rounded-[38px] flex justify-center items-center"
							style="background: ' #3B82F6'">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none">
								<path
									d="M5 8.33333C4.08334 8.33333 3.33334 9.08333 3.33334 10C3.33334 10.9167 4.08334 11.6667 5 11.6667C5.91667 11.6667 6.66667 10.9167 6.66667 10C6.66667 9.08333 5.91667 8.33333 5 8.33333ZM15 8.33333C14.0833 8.33333 13.3333 9.08333 13.3333 10C13.3333 10.9167 14.0833 11.6667 15 11.6667C15.9167 11.6667 16.6667 10.9167 16.6667 10C16.6667 9.08333 15.9167 8.33333 15 8.33333ZM10 8.33333C9.08334 8.33333 8.33334 9.08333 8.33334 10C8.33334 10.9167 9.08334 11.6667 10 11.6667C10.9167 11.6667 11.6667 10.9167 11.6667 10C11.6667 9.08333 10.9167 8.33333 10 8.33333Z"
									fill="#FFF" />
							</svg>
						</button>
					</div>
					<div>
						<h3 class="text-inter text-[24px] leading-[32px] text-white font-bold mb-[unset]">
							2 h 43 min
						</h3>
					</div>
				</div>
				<div>
					<svg
						width="170"
						height="125"
						viewBox="0 0 170 125"
						fill="none"
						id="chart_01"
						class="animations-Chart">
						<rect y="9" width="5" height="116" rx="2.5" fill="#60A5FA" />
						<rect x="15" y="53" width="5" height="72" rx="2.5" fill="#60A5FA" />
						<rect x="30" y="37" width="5" height="88" rx="2.5" fill="#60A5FA" />
						<rect x="45" y="71" width="5" height="54" rx="2.5" fill="#60A5FA" />
						<rect x="60" y="32" width="5" height="93" rx="2.5" fill="#60A5FA" />
						<rect x="75" y="46" width="5" height="79" rx="2.5" fill="#60A5FA" />
						<rect x="90" y="14" width="5" height="111" rx="2.5" fill="#60A5FA" />
						<rect x="105" y="5" width="5" height="120" rx="2.5" fill="#60A5FA" />
						<rect x="120" y="58" width="5" height="67" rx="2.5" fill="#60A5FA" />
						<rect x="135" y="26" width="5" height="99" rx="2.5" fill="#60A5FA" />
						<rect x="150" y="68" width="5" height="57" rx="2.5" fill="#60A5FA" />
						<rect x="165" width="5" height="125" rx="2.5" fill="#BFDBFE" />
					</svg>
				</div>
			</div>
			<!-- div7 -->
			<div class="w-full h-full bg-[#9333EA] rounded-[8px] flex flex-col hover-chart duration-2000">
				<div class="flex-1 pt-[24px] px-[24px]">
					<div class="flex justify-between items-center w-full">
						<h3 class="text-inter text-[14px] leading-[20px] text-[#D8B4FE] font-bold mb-[unset]">
							Creativity
						</h3>
						<button
							class="w-[25px] h-[15px] rounded-[38px] flex justify-center items-center"
							style="background: ' #A855F7'">
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none">
								<path
									d="M5 8.33333C4.08334 8.33333 3.33334 9.08333 3.33334 10C3.33334 10.9167 4.08334 11.6667 5 11.6667C5.91667 11.6667 6.66667 10.9167 6.66667 10C6.66667 9.08333 5.91667 8.33333 5 8.33333ZM15 8.33333C14.0833 8.33333 13.3333 9.08333 13.3333 10C13.3333 10.9167 14.0833 11.6667 15 11.6667C15.9167 11.6667 16.6667 10.9167 16.6667 10C16.6667 9.08333 15.9167 8.33333 15 8.33333ZM10 8.33333C9.08334 8.33333 8.33334 9.08333 8.33334 10C8.33334 10.9167 9.08334 11.6667 10 11.6667C10.9167 11.6667 11.6667 10.9167 11.6667 10C11.6667 9.08333 10.9167 8.33333 10 8.33333Z"
									fill="#FFF" />
							</svg>
						</button>
					</div>
					<div>
						<h3 class="text-inter text-[24px] leading-[32px] text-white font-bold mb-[unset]">
							2 h 32 min
						</h3>
					</div>
				</div>
				<div class="relative">
					<div class="absolute top-0 left-0">
						<svg
							width="264"
							height="80"
							viewBox="0 0 264 80"
							fill="none"
							id="chart_02"
							class="animations-Chart">
							<path
								d="M0 53C8 53 8.00001 64.9999 16 64.9999C24 64.9999 24 78.9999 32 78.9999C40 78.9999 40 68.9999 48 68.9999C56 68.9999 56 58.9999 64 58.9999C72 58.9999 72 61.4999 80 61.4999C88 61.4999 88 64.9999 96 64.9999C104 64.9999 104 46.9999 112 46.9999C120 46.9999 120 58.4999 128 58.4999C136 58.4999 136 30.9999 144 30.9999C152 30.9999 152 42.9999 160 42.9999C168 42.9999 168 52.9999 176 52.9999C184 52.9999 184 34.9999 192 34.9999C200 34.9999 200.36 21.455 208 14.9999C213.629 10.2446 216 4.99989 224 4.99992C232 4.99995 232 10.9999 240 10.9999C248 10.9999 256 0.99989 264 0.999878"
								stroke="#C084FC"
								stroke-width="2" />
							<circle cx="145" cy="30" r="4" fill="#D8B4FE" stroke="#FAF5FF" stroke-width="2" />
						</svg>
					</div>
					<svg
						width="264"
						height="132"
						viewBox="0 0 264 132"
						fill="none"
						id="chart_03"
						class="animations-Chart">
						<path
							d="M16 63.9999C8 63.9999 8 52 0 51.9999V124C0 128.418 3.58172 132 7.99999 132H256C260.418 132 264 128.46 264 124.042V-0.00012207C256 -0.000110447 248 9.99992 240 9.99992C232 9.99992 232 3.99995 224 3.99992C216 3.99989 213.629 9.24458 208 13.9999C200.36 20.455 200 33.9999 192 33.9999C184 33.9999 184 51.9999 176 51.9999C168 51.9999 168 41.9999 160 41.9999C152 41.9999 152 29.9999 144 29.9999C136 29.9999 136 57.4999 128 57.4999C120 57.4999 120 45.9999 112 45.9999C104 45.9999 104 63.9999 96 63.9999C88 63.9999 88 60.4999 80 60.4999C72 60.4999 72 57.9999 64 57.9999C56 57.9999 56 67.9999 48 67.9999C40 67.9999 40 77.9999 32 77.9999C24 77.9999 24 63.9999 16 63.9999Z"
							fill="url(#paint0_linear_2907_1437)" />
						<defs>
							<linearGradient
								id="paint0_linear_2907_1437"
								x1="132"
								y1="-0.00012207"
								x2="132"
								y2="132"
								gradientUnits="userSpaceOnUse">
								<stop stop-color="#751DC8" />
								<stop offset="1" stop-color="#A855F7" stop-opacity="0" />
							</linearGradient>
						</defs>
					</svg>
				</div>
			</div>
		</div>
		<!-- colum 3 -->
		<div style="display: grid; grid-template-columns: 1fr; grid-template-rows: repeat(3, 1fr); grid-row-gap: 12px">
			<!-- div8 -->
			<div class="w-full h-full bg-[#F3E8FF] rounded-[8px] p-[24px] flex hover-chart duration-2000">
				<div class="flex-1 justify-between h-full flex flex-col">
					<h3 class="text-inter text-[14px] leading-[20px] text-[#7E22CE] font-bold mb-[unset]">
						Productivity
					</h3>
					<h3 class="text-inter text-[14px] leading-[20px] text-[#7E22CE] font-bold mb-[unset]">+5%</h3>
					<h3 class="text-inter text-[20px] leading-[28px] text-[#7E22CE] font-bold mb-[unset]">1h 21 min</h3>
				</div>
				<div class="h-full flex items-end animations-Chart">
					<svg width="87" height="84" viewBox="0 0 87 84" fill="none" id="chart_05">
						<rect y="47" width="3" height="37" rx="1.5" fill="#A855F7" />
						<rect x="7" y="28" width="3" height="56" rx="1.5" fill="#A855F7" />
						<rect x="14" y="45" width="3" height="39" rx="1.5" fill="#A855F7" />
						<rect x="21" y="28" width="3" height="56" rx="1.5" fill="#A855F7" />
						<rect x="28" y="35" width="3" height="49" rx="1.5" fill="#A855F7" />
						<rect x="35" y="5" width="3" height="79" rx="1.5" fill="#A855F7" />
						<rect x="42" y="19" width="3" height="65" rx="1.5" fill="#A855F7" />
						<rect x="49" y="35" width="3" height="49" rx="1.5" fill="#A855F7" />
						<rect x="56" width="3" height="84" rx="1.5" fill="#A855F7" />
						<rect x="63" y="15" width="3" height="69" rx="1.5" fill="#A855F7" />
						<rect x="70" y="23" width="3" height="61" rx="1.5" fill="#DAB2FF" />
						<rect x="77" y="32" width="3" height="52" rx="1.5" fill="#A855F7" />
						<rect x="84" y="45" width="3" height="39" rx="1.5" fill="#A855F7" />
					</svg>
				</div>
			</div>
			<!-- div9 -->
			<div class="w-full h-full bg-[#DCFCE7] rounded-[8px] p-[24px] flex hover-chart duration-2000">
				<div class="flex-1 justify-between h-full flex flex-col">
					<h3 class="text-inter text-[14px] leading-[20px] text-[#16A34A] font-bold mb-[unset]">Others</h3>
					<h3 class="text-inter text-[14px] leading-[20px] text-[#16A34A] font-bold mb-[unset]">+5%</h3>
					<h3 class="text-inter text-[20px] leading-[28px] text-[#16A34A] font-bold mb-[unset]">1h 21 min</h3>
				</div>
				<div class="h-full flex items-end animations-Chart">
					<svg width="87" height="95" viewBox="0 0 87 95" fill="none" id="chart_06">
						<rect y="9" width="3" height="86" rx="1.5" fill="#73FFA7" />
						<rect x="7" y="53" width="3" height="42" rx="1.5" fill="#22C55E" />
						<rect x="14" y="37" width="3" height="58" rx="1.5" fill="#22C55E" />
						<rect x="21" y="71" width="3" height="24" rx="1.5" fill="#22C55E" />
						<rect x="28" y="32" width="3" height="63" rx="1.5" fill="#22C55E" />
						<rect x="35" y="46" width="3" height="49" rx="1.5" fill="#22C55E" />
						<rect x="42" y="14" width="3" height="81" rx="1.5" fill="#22C55E" />
						<rect x="49" y="5" width="3" height="90" rx="1.5" fill="#22C55E" />
						<rect x="56" y="58" width="3" height="37" rx="1.5" fill="#22C55E" />
						<rect x="63" y="26" width="3" height="69" rx="1.5" fill="#22C55E" />
						<rect x="70" y="68" width="3" height="27" rx="1.5" fill="#22C55E" />
						<rect x="77" width="3" height="95" rx="1.5" fill="#22C55E" />
						<rect x="84" y="56" width="3" height="39" rx="1.5" fill="#22C55E" />
					</svg>
				</div>
			</div>
			<!-- div10 -->
			<div class="w-full h-full bg-[#BFEBFF] rounded-[8px] p-[24px] flex hover-chart duration-2000">
				<div class="flex-1 justify-between h-full flex flex-col">
					<h3 class="text-inter text-[14px] leading-[20px] text-[#008CCC] font-bold mb-[unset]">
						Communication
					</h3>
					<h3 class="text-inter text-[14px] leading-[20px] text-[#008CCC] font-bold mb-[unset]">+5%</h3>
					<h3 class="text-inter text-[20px] leading-[28px] text-[#008CCC] font-bold mb-[unset]">1h 21 min</h3>
				</div>
				<div class="h-full flex items-end animations-Chart">
					<svg width="87" height="84" viewBox="0 0 87 84" fill="none" id="chart_04">
						<rect y="31" width="3" height="53" rx="1.5" fill="#33BFFF" />
						<rect x="7" y="30" width="3" height="54" rx="1.5" fill="#33BFFF" />
						<rect x="14" y="16" width="3" height="68" rx="1.5" fill="#33BFFF" />
						<rect x="21" y="29" width="3" height="55" rx="1.5" fill="#33BFFF" />
						<rect x="28" y="13" width="3" height="71" rx="1.5" fill="#33BFFF" />
						<rect x="35" y="19" width="3" height="65" rx="1.5" fill="#33BFFF" />
						<rect x="42" y="26" width="3" height="58" rx="1.5" fill="#4E30A2" />
						<rect x="49" y="39" width="3" height="45" rx="1.5" fill="#33BFFF" />
						<rect x="56" y="14" width="3" height="70" rx="1.5" fill="#33BFFF" />
						<rect x="63" width="3" height="84" rx="1.5" fill="#33BFFF" />
						<rect x="70" y="26" width="3" height="58" rx="1.5" fill="#33BFFF" />
						<rect x="77" y="33" width="3" height="51" rx="1.5" fill="#33BFFF" />
						<rect x="84" y="6" width="3" height="78" rx="1.5" fill="#33BFFF" />
					</svg>
				</div>
			</div>
		</div>
	</section>
</main>
