<main class="flex w-full h-full p-[20px]">
	<div class="w-full h-full flex gap-[20px]">
		<div class="flex-1 h-full rounded-[10px] p-[15px]" style="background: rgba(255, 255, 255, 70%)">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d2330.6301344573503!2d106.74697687586284!3d10.762430257088072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x31753a7edc0a72bd%3A0xe30753317c3d93e6!2zTmjDoCBCw6gsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!3m2!1d10.695264199999999!2d106.70487399999999!4m5!1s0x317525bf8d8bf5b1%3A0xa2426615a55b875c!2zSVRELCAxIMSQLiBTw6FuZyBU4bqhbywgVMOibiBUaHXhuq1uIMSQw7RuZywgUXXhuq1uIDcsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!3m2!1d10.7640502!2d106.7487584!5e0!3m2!1svi!2s!4v1672842686846!5m2!1svi!2s"
				style="border: 0"
				allowfullscreen=""
				loading="lazy"
				class="w-full h-full rounded-[10px]"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>

		<div class="w-[400px] h-full overflow-y-auto">
			<app-ship-route-info></app-ship-route-info>
		</div>
		<!-- <div class="flex-1 z-10 absolute right-0 top-0">
      <img src="../../assets/svg/Group 283.svg" class="w-full h-full" />
    </div> -->
	</div>
</main>
