<div class="w-full flex gap-y-[10px] justify-between items-center flex-wrap">
	<!-- <div class="flex gap-[15px] items-center">
		<div class="search-bar">
			<input type="text" placeholder="Search products..." (input)="onInputSearch($event)" (blur)="onSearch()" />
		</div>
		<button nz-button (click)="onOpenFilter()">
			<svg width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M6.85709 10.506C4.37009 8.646 2.59609 6.6 1.62709 5.45C1.32709 5.094 1.22909 4.833 1.17009 4.374C0.968089 2.802 0.867089 2.016 1.32809 1.508C1.78909 1 2.60409 1 4.23409 1H15.7661C17.3961 1 18.2111 1 18.6721 1.507C19.1331 2.015 19.0321 2.801 18.8301 4.373C18.7701 4.832 18.6721 5.093 18.3731 5.449C17.4031 6.601 15.6261 8.651 13.1331 10.514C13.0178 10.6037 12.9225 10.7165 12.8533 10.8451C12.7841 10.9737 12.7425 11.1154 12.7311 11.261C12.4841 13.992 12.2561 15.488 12.1141 16.244C11.8851 17.466 10.1541 18.201 9.22609 18.856C8.67409 19.246 8.00409 18.782 7.93309 18.178C7.66756 15.8765 7.44286 13.5705 7.25909 11.261C7.24882 11.114 7.20771 10.9708 7.13845 10.8407C7.06919 10.7106 6.97333 10.5966 6.85709 10.506Z"
					stroke="#AAAAAA"
					stroke-width="1.5"
					stroke-linecap="round"
					stroke-linejoin="round" />
			</svg>
			Filter
		</button>
	</div>
	<nz-pagination
		*ngIf="totalItems > 0"
		nzShowSizeChanger
		[nzPageIndex]="productDto.page"
		[nzPageSize]="productDto.limit"
		[nzTotal]="totalItems"
		[nzPageSizeOptions]="pageOptions"
		(nzPageIndexChange)="onChangePage($event)"
		(nzPageSizeChange)="onChangeOption($event)">
	</nz-pagination> -->
</div>
<table class="mt-[10px]">
	<thead
		class="pt-[10px] flex gap-[10px] bg-[rgba(255, 255 , 255, 90)] shadow-sm rounded-[5px] p-[12px] w-[100%] bg-[white]">
		<tr class="flex w-full min-w-0">
			<th
				class="flex gap-[10px] bg-[rgba(255,255,255,0.9)] relative table_sticky table_sticky-left min-w-[40px] w-[40px] max-w-[40px] group"
				(mouseenter)="hoverHeader = true"
				(mouseleave)="hoverHeader = false">
				<!-- Checkbox all -->
				<label
					*ngIf="allChecked || hoverHeader"
					nz-checkbox
					[nzChecked]="allChecked"
					(nzCheckedChange)="onToggleAll()">
				</label>

				<!-- STT -->
				<div
					*ngIf="!allChecked && !hoverHeader"
					class="px-[5px] font-inter text-[14px] font-medium leading-[20px] text-[#687182] w-[30px] cursor-pointer">
					<label>#</label>
				</div>
			</th>
			<th
				class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] flex text-start min-w-[150px] w-[150px]">
				<label> Name </label>
			</th>
			<th
				class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] flex text-start min-w-[150px] w-[150px]">
				<label> Email </label>
			</th>
			<th
				class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] flex text-start min-w-[150px] w-[150px]">
				<label> Birthday </label>
			</th>

			<th
				class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] flex text-start min-w-[150px] w-[150px]">
				<label> Roles </label>
			</th>
			<th
				class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] flex text-start min-w-[150px] w-[150px]">
				<label> Status </label>
			</th>

			<th
				class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] flex text-start min-w-[150px] w-[150px]">
				<label> Join Date </label>
			</th>

			<th
				class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] flex text-start min-w-[150px] w-[150px]">
				<label>Last Active </label>
			</th>

			<th
				class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] flex text-start min-w-[150px] w-[150px]">
				<label>Created At </label>
			</th>

			<th
				class="font-inter justify-end text-[14px] font-medium leading-[20px] relative table_sticky table_sticky-right text-[#687182] flex min-w-[70px] w-[70px]"
				[align]="'right'"></th>
		</tr>
	</thead>
	<!-- <tbody>
		<ng-container *ngIf="dataSources.length > 0; else noData">
			<tr
				*ngFor="let data of dataSources; let i = index"
				class="w-full flex min-w-0 mt-[7px] shadow-sm rounded-[5px] py-[7px] px-[10px] cursor-pointer"
				(dblclick)="onViewDetail(data.id)">
				<td
					style="height: auto"
					class="flex relative table_sticky table_sticky-left min-w-[40px] w-[40px] max-w-[40px]"
					(mouseenter)="hoverIndex = i"
					(mouseleave)="hoverIndex = null">
					<div class="w-[100%] flex items-center" (click)="$event.stopPropagation()">
						<label
							nz-checkbox
							*ngIf="selected.has(data.id) || hoverIndex === i"
							[nzChecked]="selected.has(data.id)"
							(nzCheckedChange)="onToggleRow(data.id)"
							class="cursor-pointer">
						</label>

						<div
							*ngIf="!selected.has(data.id) && hoverIndex !== i"
							class="py-4 font-inter text-[14px] font-medium leading-[20px] text-[#687182] px-[5px] min-w-[30px] justify-center flex items-center">
							{{ i + 1 }}
						</div>
					</div>
				</td>
				<td class="flex min-w-[90px] w-[120px] max-w-[120px]">
					<div class="w-[100%] flex items-center">
						<div class="flex items-center gap-[10px] w-full">
							<div class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] px-[5px]">
								<div
									class="bg-cover bg-no-repeat w-[60px] h-[60px] rounded-[5px] shadow-[0px_10px_10px_0px_rgba(31,13,64,0.10),_0px_0px_2px_0px_rgba(31,13,64,0.08)]"
									[style.background-image]="
													'url(' + data?.image + ')'
												"></div>
							</div>
						</div>
					</div>
				</td>
				<td
					class="min-h-[60px] flex flex-col gap-[3px] font-inter text-[14px] font-medium text-[#687182] min-w-[400px] w-[400px]">
					<span class="text-primary flex items-center gap-[5px]"> ID: {{ data?.id }} </span>
					<span class="word-break" nz-tooltip [nzTooltipTitle]="data?.name"> {{ data?.name }} </span>
				</td>
				<td
					class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] text-start min-w-[150px] w-[150px]">
					N/A
				</td>
				<td
					class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] text-start min-w-[100px] w-[100px]">
					{{ data?.historicalSold }}
				</td>
				<td
					class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] text-start min-w-[100px] w-[100px]">
					{{ data?.stock }}
				</td>
				<td
					class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] text-start min-w-[100px] w-[100px]">
					{{ data.price.toLocaleString('it-IT') }} đ
				</td>
				<td
					class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] text-start min-w-[100px] w-[100px]">
					<ng-container *ngIf="data?.discount; else elseDiscount"> {{ data?.discount }} </ng-container>
					<ng-template #elseDiscount> -- </ng-template>
				</td>
				<td
					class="font-inter text-[14px] font-medium leading-[20px] text-[#687182] text-start min-w-[125px] w-[125px]">
					{{ data.createdAt | date: 'dd/MM/yy' }}
				</td>
				<td
					class="flex items-center justify-end text-end min-w-[70px] w-[70px] relative table_sticky table_sticky-right"
					[align]="'right'">
					<img
						nz-dropdown
						nzTrigger="click"
						[nzDropdownMenu]="menu"
						class="w-[20px] h-[20px] hover:opacity-70"
						src="/assets/svg/actions.svg"
						alt="actions" />
					<nz-dropdown-menu #menu="nzDropdownMenu">
						<ul nz-menu>
							<li nz-menu-item (click)="onEditData($event, data.id)">
								<div class="flex gap-[7px] items-center">
									<svg
										width="20"
										height="20"
										viewBox="0 0 16 16"
										fill="#687182"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M13.0981 5.10827C12.6795 5.52693 12.4702 5.73626 12.2506 5.77677C12.0309 5.81728 11.8868 5.67315 11.5986 5.3849L10.6151 4.40144C10.3269 4.11319 10.1827 3.96906 10.2232 3.74946C10.2638 3.52985 10.4731 3.32052 10.8917 2.90186L11.1184 2.67522C11.537 2.25656 11.7464 2.04723 11.966 2.00672C12.1856 1.96621 12.3297 2.11034 12.618 2.39859L13.6014 3.38204C13.8897 3.6703 14.0338 3.81442 13.9933 4.03403C13.9528 4.25364 13.7434 4.46297 13.3248 4.88162L13.0981 5.10827Z"
											fill="#687182" />
										<path
											d="M2.95406 13.9107C2.4542 14.0029 2.20427 14.049 2.07763 13.9224C1.95099 13.7957 1.99709 13.5458 2.0893 13.0459L2.31175 11.84C2.35173 11.6233 2.37172 11.515 2.43005 11.4101C2.48838 11.3052 2.57913 11.2145 2.76064 11.033L8.31438 5.47921C8.73303 5.06056 8.94236 4.85123 9.16197 4.81072C9.38158 4.77021 9.5257 4.91433 9.81396 5.20259L10.7974 6.18604C11.0857 6.4743 11.2298 6.61842 11.1893 6.83803C11.1488 7.05764 10.9394 7.26697 10.5208 7.68562L4.96705 13.2394C4.78554 13.4209 4.69479 13.5116 4.58991 13.5699C4.48503 13.6283 4.37668 13.6483 4.15997 13.6882L2.95406 13.9107Z"
											fill="#687182" />
									</svg>

									<span class="font-inter text-[15px] font-medium leading-[20px] text-[#687182]"
										>Update</span
									>
								</div>
							</li>
							<li nz-menu-item (click)="onRemoveData($event,  data.id)">
								<div class="flex gap-[7px] items-center">
									<svg width="20" height="20" viewBox="0 0 26 26">
										<rect width="26" height="26" fill="none" />
										<path
											fill="#FF3130"
											d="M11.5-.031c-1.958 0-3.531 1.627-3.531 3.594V4H4c-.551 0-1 .449-1 1v1H2v2h2v15c0 1.645 1.355 3 3 3h12c1.645 0 3-1.355 3-3V8h2V6h-1V5c0-.551-.449-1-1-1h-3.969v-.438c0-1.966-1.573-3.593-3.531-3.593zm0 2.062h3c.804 0 1.469.656 1.469 1.531V4H10.03v-.438c0-.875.665-1.53 1.469-1.53zM6 8h5.125c.124.013.247.031.375.031h3c.128 0 .25-.018.375-.031H20v15c0 .563-.437 1-1 1H7c-.563 0-1-.437-1-1zm2 2v12h2V10zm4 0v12h2V10zm4 0v12h2V10z" />
									</svg>
									<span class="font-inter text-[15px] font-medium leading-[20px] text-[#FF3130]"
										>Delete</span
									>
								</div>
							</li>
						</ul>
					</nz-dropdown-menu>
				</td>
			</tr>
		</ng-container>
		<ng-template #noData>
			<td
				colspan="100%"
				style="background: white"
				class="flex flex-col justify-center gap-[15px] items-center mt-[7px] bg-[rgba(255, 255 , 255, 90)] h-[100%] shadow-sm rounded-[5px] p-[10px] w-[100%]">
				<div
					class="w-full max-w-md mx-auto h-64 bg-center bg-no-repeat bg-cover opacity-50"
					style="
						background-image: none;
						background-image: url(https://cdni.iconscout.com/illustration/premium/thumb/sorry-item-not-found-illustration-download-in-svg-png-gif-file-formats--available-product-tokostore-pack-e-commerce-shopping-illustrations-2809510.png);
					"></div>
				<span class="font-inter text-[18px] font-medium leading-[20px] text-[#687182] flex text-start">
					No products yet</span
				>
			</td>
		</ng-template>
	</tbody> -->
</table>
